:root {
	font-size: 62.5%;
}

* {
	padding: 0;
	margin: 0;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
}

body {
	text-transform: capitalize;
	position: relative;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	min-height: 100vh;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

#wrapper {
	overflow: auto;
	min-height: 100vh;
}

h1 {
	text-align: center;
	font-weight: 600;
	font-size: 4rem;
}

#container {
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

#calculator {
	background-color: #686868;
	width: 400px;
	aspect-ratio: 2 / 3;
	padding: 15px;
	border: black 3px solid;
	border-radius: 10px;
}

#display {
	justify-content: flex-end;
	background-color: #dddddd;
	border: black 3px solid;
	border-radius: 10px;
	margin-bottom: 15px;
	font-size: 5rem;
}

#numbers {
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	border-radius: 10px;
}

@media only screen and (max-width: 550px) {
	#calculator {
		width: 300px;
	}
}
