:root {
	font-size: 62.5%;
}

* {
	padding: 0;
	margin: 0;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
}

body {
	text-transform: capitalize;
	position: relative;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	min-height: 100vh;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

#wrapper {
	overflow: auto;
	min-height: 100vh;
}

h1 {
	text-align: center;
	font-weight: 600;
	font-size: 4rem;
}

#container {
	margin-top: 2rem;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#calculator {
	background-color: #686868;
	width: 400px;
	aspect-ratio: 2 / 3;
	padding: 15px;
	border: black 3px solid;
	border-radius: 25px;
}

#display {
	justify-content: end;
	align-items: center;
	background-color: #eeeeee;
	border: black 3px solid;
	border-radius: 25px;
	margin-bottom: 15px;
	padding: 10px;
	font-size: 5rem;
	height: 74px;
}

#numbers {
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	border-radius: 25px;
}

.btn {
	background-color: #eeeeee;
	aspect-ratio: 1;
	border: black 3px solid;
	border-radius: 100%;
	font-size: 4rem;
	transition: background-color linear 0.1s, transform linear 0.1s;
}

.btn:hover {
	transform: translateY(-5px);
	box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.25);
}

.equal {
	grid-column: span 2;
	border-radius: 60px;
	aspect-ratio: unset;
}

.number:hover,
.decimal:hover {
	background-color: #fffc36;
}

.operator:hover {
	background-color: #ffc400;
}

.delete:hover,
.clear:hover {
	background-color: #ff4e4e;
}

.equal:hover {
	background-color: #4eff4e;
}

#limit-text {
	font-size: 3rem;
	text-align: center;
	font-weight: 600;
	color: #ff0000;
	visibility: hidden;
}

@media only screen and (max-width: 550px) {
	:root {
		font-size: 50%;
	}

	#calculator {
		width: 300px;
	}
}
